kapacitor:
  version: 0.13.1
  source_hash: c3d26ff4ed6464702e750426b4804133
  hostname: foobar
  config:
    -
      table_name: http
      write_tracing: true
    -
      table_name: deadman
      global: true
  influxdb:
    -
      name: influxdb
      default: true
      urls:
        - "http://localhost:8086"
      subscriptions:
        - telegraf:
          - default
          - longterm
      excluded-subscriptions:
        - foodb:
          - ignore_this
          - and_this_one
