kapacitor:
  hostname: foobar
  config:
    -
      table_name: http
      write_tracing: true
    -
      table_name: deadman
      global: true
  influxdb:
    -
      name: influxdb
      default: true
      urls:
        - "http://localhost:8086"
