{% import_yaml "kapacitor/defaults.yaml" as default_settings %}

{% set os_map = salt['grains.filter_by']({
    'Debian': {
      'pkgsuffix': '_amd64.deb',
      'source_url': 'https://dl.influxdata.com/kapacitor/releases/kapacitor_',
      'source_hash': 'a089e5d14108eb93cefa0f25127a891a',
    },
    'RedHat': {
      'pkgsuffix': '.x86_64.rpm',
      'source_url': 'https://dl.influxdata.com/kapacitor/releases/kapacitor-',
      'source_hash': 'c3d26ff4ed6464702e750426b4804133',
    }
  }
  , grain="os_family"
  , merge=salt['pillar.get']('kapacitor:lookup'))
%}

{% do default_settings.kapacitor.update(os_map) %}

{% set kapacitor = salt['pillar.get'](
    'kapacitor',
    default=default_settings.kapacitor,
    merge=True
  )
%}

{%- macro output_indented(col, string) %}
{{ string|indent(col, true) -}}
{%- endmacro %}

{% macro format_kapacitor_config(table_array) %}
{%- set col = 0 %}
{%- for table in table_array %}
  {{- output_indented(col, ("[" + table.table_name + "]")) }}
  {%- set col = col + kapacitor.indent %}
  {%- for key, value in table.items() %}
    {%- if key == "table_name" %} {#skip table_name#}
    {%- elif value is sameas false or value is sameas true %} {#boolean#}
      {{- output_indented(col, (key + ' = ' + value|string|lower)) }}
    {%- elif value is number %} {#numbers#}
      {{- output_indented(col, (key + ' = ' + value|string)) }}
    {%- elif value is string %} {#strings#}
      {{- output_indented(col, (key + ' = "' + value|string + '"')) }}
    {%- elif value is iterable %} {#arrays#}
      {{- output_indented(col, key + ' = [') -}}
      {%- for item in value -%}
        "{{ item }}"{%- if loop.last == false -%},{%- endif -%}
      {%- endfor -%}
      ]
    {%- endif %}
  {%- endfor %}
{#line break#}
  {%- set col = col - kapacitor.indent %}
{%- endfor %}
{%- endmacro %}

{% macro format_influxdb_config(influxdb_array) %}
{%- set col = 0 %}
{%- for config in influxdb_array %}
  {{- output_indented(col, ("[[influxdb]]")) }}
  {%- set col = col + kapacitor.indent %}
  {%- for key, value in config.items() %}
    {%- if key == "subscriptions" or key == "excluded-subscriptions" %}
      {{- output_indented(col, ("[influxdb." + key + "]")) }}
      {%- for db in value %}
        {%- set col = col + kapacitor.indent %}
        {%- for key, value in db.items() %}
          {{- output_indented(col, key + ' = [') -}}
          {%- for item in value -%}
            "{{ item }}"{%- if loop.last == false -%},{%- endif -%}
          {%- endfor -%}
          ]
        {%- endfor -%}
      {%- endfor -%}
    {%- elif value is sameas false or value is sameas true %} {#boolean#}
      {{- output_indented(col, (key + ' = ' + value|string|lower)) }}
    {%- elif value is number %} {#numbers#}
      {{- output_indented(col, (key + ' = ' + value|string)) }}
    {%- elif value is string %} {#strings#}
      {{- output_indented(col, (key + ' = "' + value|string + '"')) }}
    {%- elif value is iterable %} {#arrays#}
      {{- output_indented(col, key + ' = [') -}}
      {%- for item in value -%}
        "{{ item }}"{%- if loop.last == false -%},{%- endif -%}
      {%- endfor -%}
      ]
    {%- endif %}
  {%- endfor %}
{#line break#}
  {%- set col = col - kapacitor.indent %}
{%- endfor %}
{%- endmacro %}
